---
import config from '../../meta.config'
import Layout from '../layouts/Layout.astro'
import User from '../components/User.astro'
import Introduce from '../components/Introduce.astro'
import Company from '../components/Company.astro'
import Skills from '../components/Skills.astro'
import OpenSource from '../components/OpenSource.astro'
import Education from '../components/Education.astro'
import Links from '../components/Links.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Welcome.">
	<User author={config.name} links={config.links} connection={config.connection} />
	<div class="lg:my-20 mx-6 lg:mx-8 flex flex-col overflow-x-hidden">
		<Introduce />
		<Company />
		{config.projects.length ? <OpenSource /> : ''}
		<Skills />
		<Links />
		<Education />
		<Footer />
	</div>
</Layout>
