---
import config from '../../meta.config'
import Layout from '../layouts/Layout.astro'
import User from '../components/User.astro'
import Introduce from '../components/Introduce.astro'
import Company from '../components/Company.astro'
import Skills from '../components/Skills.astro'
import OpenSource from '../components/OpenSource.astro'
import Education from '../components/Education.astro'
import Links from '../components/Links.astro'
---

<Layout title="Welcome to my resume.">
	<User author={config.name} links={config.links} connection={config.connection} />
	<div class="lg:my-20 mx-6 lg:mx-8 flex flex-col overflow-x-hidden gap-4">
		<Introduce />
		<Company />
		{config.projects.length ? <OpenSource /> : ''}
		<Skills />
		<Links />
		<Education />
		<div class="text-center lg:text-end border border-t-0 border-x-0 border-b-2 border-black ">
			<span class="text-xl font-bold">致谢:</span>
			<span>感谢您花时间阅读我的简历，期待有机会能和您共事。</span>
		</div>
	</div>
</Layout>
