---
import config from '../../meta.config'
import ModuleHeader from './ui/ModuleHeader.astro'
import CompanyProject from './ui/CompanyProject.astro'
---

<div>
  <ModuleHeader title="工作经历" />
  <ul>
    {
      config.companies.map(company => (
        <li class="mb-4">
          <div class="text-center lg:text-left">
            <h2 class="text-3xl font-medium text-gray-800">{company.name}</h2>
            <small class="text-sm text-gray-600">{company.time}</small>
          </div>
          <div class="mt-1">
            {company.projects.map(project => {
              const { name, situation, actions, result, task } = project
              const details = {
                situation,
                task,
                actions,
                result
              }
              return <CompanyProject name={name} details={details} />
            })}
          </div>
        </li>
      ))
    }
  </ul>
</div>
