---
import config from '../../meta.config';
import ModuleHeader from './ui/ModuleHeader.astro'

interface Config {
  name: string
  time: string
  projects: {
    name: string
    details: string
  }[]
}
---

<div>
  <ModuleHeader title="工作经历" />
  <ul>
    {
      config.companies.map(company => (
        <li class="mb-4">
          <div class="text-center lg:text-left">
            <h2 class="text-3xl font-medium text-gray-800">{company.name}</h2>
            <small class="text-sm text-gray-600">{company.time}</small>
          </div>
          <div class="mt-1">
            {company.projects.map(project => (
              <div>
                <h3 class="text-2xl font-medium text-gray-600">{project.name}</h3>
                <p>{project.details}</p>
              </div>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
</div>
