---
import config from '../../meta.config'
import ModuleHeader from './ui/ModuleHeader.astro'
---

<div>
  <ModuleHeader title="教育经历" />
  <ul>
    {
      config.educations.map(item => (
        <li class="mb-4">
          <div class="flex lg:justify-start justify-center gap-2">
            <span>{item.time}</span>
            <span>{item.school}</span>
            <span>{item.profession}</span>
            <span>{item.lv}</span>
          </div>
        </li>
      ))
    }
  </ul>
</div>
