---
import ModuleHeader from "./ui/ModuleHeader.astro";
---

<div>
  <ModuleHeader title="个人评价" />
  <p class="text-lg">
    这里写个人评价 这里写个人评价 这里写个人评价 这里写个人评价
    这里写个人评价 这里写个人评价 这里写个人评价 这里写个人评价
    这里写个人评价 这里写个人评价 这里写个人评价 这里写个人评价
  </p>
</div>
