---
import config from '../../meta.config'
import ModuleHeader from './ui/ModuleHeader.astro'
import SocialLink from './ui/SocialLink.astro'
---

<div class="flex flex-col lg:hidden ">
  <ModuleHeader title="其他链接" />
  <ul class="flex justify-center gap-4">
    {
      config.otherLinks?.map(item => (
        <li class="mb-4">
          <div class="flex lg:justify-start justify-center gap-2">
            <SocialLink icon={item.icon} value={item.value} url={item.url} />
          </div>
        </li>
      ))
    }
  </ul>
</div>
