---
import config from '../../meta.config'
import ModuleHeader from './ui/ModuleHeader.astro'
---

<div>
  <ModuleHeader title="开源项目" />
  <ul>
    {
      config.projects.map(item => (
        <li class="mb-4">
          <h2 class="text-2xl font-medium text-gray-600">{item.title}</h2>
          <div class="mt-1">
            <p>{item.details}</p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
