---
import config from '../../meta.config'
import CompanyProject from './ui/CompanyProject.astro'
import ModuleHeader from './ui/ModuleHeader.astro'
---

<div>
  <ModuleHeader title="开源项目" />
  <ul>
    {
      config.projects.map(item => {
        const { name, links, situation, actions, result, task } = item
        const details = {
          situation,
          task,
          actions,
          result
        }
        return (
          <li class="mb-4">
            <div class="mt-1">
              <CompanyProject name={name} details={details} links={links} />
            </div>
          </li>
        )
      })
    }
  </ul>
</div>
