---
import type { Project } from '../../../meta.config'
import MatchString from './MatchString'
import PrefixIcon from './PrefixIcon.astro'

interface Props {
  data: Project[]
}
const { data } = Astro.props
export const matchs = [
  'TypeScript',
  'Vue3',
  'Vue2',
  'React',
  'VitePress',
  'Vite',
  'Unocss',
  'uni-app',
  'Pinia',
  'uView Plus',
  'Naive UI',
  'axios',
  'dayjs',
  'lodash',
  'ESLint',
  'Echarts',
  'vue-router',
  'Vant',
  'Vuex',
  'websocket',
  'jwt',
  'NestJs',
  'NextJs',
  'Element Plus',
  'Webpack',
  'Hono',
  'Feature-First',
  'Appwrite',
  'TypeORM',
  'Tailwind CSS'
]
---

<div>
  <strong class="text-gray-600">行动</strong>
  {
    data.map(item => (
      <p class="ml-4">
        <div class="flex">
          <PrefixIcon />
          <div>
            <MatchString details={item.details} matchs={matchs} />
          </div>
        </div>
      </p>
    ))
  }
</div>
