---
import type { Project } from '../../../meta.config'

interface Props {
  data: Project[]
}
const { data } = Astro.props
---

<div>
  <strong>行动:</strong>
  {
    data.map(item => (
      <p class="ml-4">
        <strong>{item.title}:</strong>
        {item.details}
      </p>
    ))
  }
</div>
