---
import { Icon } from 'astro-icon/components'
import type { Project } from '../../../meta.config'

interface Props {
  data: Project
}
const { data } = Astro.props
---

<div>
  <p class="text-base flex flex-col">
    <strong class="text-gray-600">{data.title}</strong>
    <div class="flex">
      <div class="mr-1 mt-1">
        <Icon name="leaf"/>
      </div>
      <p>
        {data.details}
      </p>
    </div>
  </p>
</div>
