---
import { Icon } from 'astro-icon/components'

interface Props {
  url?: string
  icon?: string
  value?: string
}
const { value, icon, url } = Astro.props
---

<div class="flex gap-2 items-center">
  <Icon name={icon} />
  {
    url ? (
      <a target="_blank" href={url} class="text-blue-500 underline hover:text-blue-600 font-bold">
        {value}
      </a>
    ) : (
      <span>{value}</span>
    )
  }
</div>
