---
import type { Project } from '../../../meta.config'
import PrefixIcon from './PrefixIcon.astro'

interface Props {
  data: Project[]
}
const { data } = Astro.props
---

<div>
  <p class="text-base flex flex-col">
    <strong class="text-gray-600">任务</strong>
    {
      data.map(i => (
        <div class="flex">
          <PrefixIcon />
          <p>{i.details}</p>
        </div>
      ))
    }
  </p>
</div>
